/* Style for the loader (iframe) */
#loader-iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(
    1,
    26,
    6,
    0.979
  ); /* Semi-transparent white background */
  display: block;
  display: flex;
  flex-direction: column;
  z-index: 9999; /* Make sure it's on top of everything */
  font-family: "Courier New", Courier, monospace;
  align-content: center;
  align-items: center;
  overflow: auto;
}
.load-title {
  text-align: center;
  color: #e9e9e9;
  font-size: 5em;
  font-family: "Courier New", Courier, monospace;
  padding-top: 100px;
  padding-bottom: 50px;
  font-weight: bold;
}
.load-info {
  text-align: center;
  color: #e9e9e9;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  padding-right: 500px;
  padding-left: 500px;
}

#animation {
  width: 100%;
  height: 100%;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px */
  .load-title {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }

  .load-info {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }
}
