body {
  padding: 0;
  margin: 0;
}
.title {
  position: fixed;
  top: 7px;
  color: #ddd;
  font-family: "Days One", sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  opacity: 0;
  padding: 20px;
}
.demo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
}
#globe-3d,
#globe-2d-overlay,
#globe-popup-overlay,
.globe-popup {
  display: block;
  position: absolute;
}
#globe-2d-overlay,
#globe-popup-overlay {
  pointer-events: none;
}
.globe-popup-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.globe-popup {
  top: 0;
  left: 0;
  background-color: #09914f;
  opacity: 0;
  color: #f5f5f5;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 3px;
}

/* style.css or your main webpage's CSS */
/* iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; 
  margin: 0;
  padding: 0;
  z-index: 9999;
} */

#loader-container {
  display: none;
}

/* Add this CSS for the popup */
.popup2 {
  display: none;
  position: fixed;
  top: 50%;
  right: -100px;
  height: 70vh;
  transform: translate(-50%, -50%);
  background-color: #09914f;
  padding: 20px;
  border-top: 5px solid #055f3c;
  border-bottom: 5px solid #055f3c;
  border-left: 5px solid #055f3c;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  max-width: 350px;
  overflow-y: visible;
  overflow-x: hidden;
  color: #ddd;
}

.popup2-close-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding: 2px;
  background-color: #055f3c;
}

/* Styles for the content */
.info-content {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.4;
  padding: 10px;
  background-color: #055f3c;
}

/* <------------------> */

/* Scrollbar style */

/*        ScrollBar 2    */

/*       ScrollBar 1        */

/* ::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #055f3c;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #47ee6b;
} */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: rgb(173, 173, 173);
  border-left: 9px solid #09914f;
  border-right: 9px solid #055f3c;
}
::-webkit-scrollbar-thumb {
  background: rgb(37, 255, 135);
  border-left: 7px solid #09914f;
  border-right: 7px solid #055f3c;
  border-radius: 20px;
}

/* Add this CSS to your existing stylesheet or create a new one */
/* CSS for the footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d8000000; /* Change to your desired background color */
  color: #fff; /* Text color */
  text-align: center;
  padding: 10px;
  font-family: "Days One", sans-serif;

  /* z-index: 9999; Set a high z-index value to ensure it's on top of other content */
}

.footer-buttons {
  margin-top: 10px;
  font-family: "Days One", sans-serif;
}

button {
  background-color: #09914f; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Days One", sans-serif;

  font-size: 16px;
}

button:hover {
  background-color: #e42692; /* Button background color on hover */
  font-family: "Days One", sans-serif;
}

/* Styles for the modal */

/* Styles for the modals (similar to the previous example) */
/* Modal container */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Modal content */
.modal-content {
  background-color: #09914f;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 70%;
  max-width: 400px;
  text-align: center;
  color: #e4e4e4;
}

/* Close button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Close button style (you can use an "X" or any other symbol) */
.close::after {
  content: "✖";
  font-size: 20px;
  color: #888;
}

/* Close button hover effect */
.close:hover {
  color: #000;
}

/* Add some animation to the modal */
.modal-content {
  animation: scale-up 0.3s ease;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Common styles for both desktop and mobile */

/* ... (your existing CSS) ... */

/* Media Query for Mobile Devices */

