/* BODY AND SECTIONS */
/* ----------------------------------------------------- */
/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). Some properties have already been declared */

body {
  padding: 40px 10%;
  background-color: rgb(235, 235, 235);
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

section > h2 {
  text-align: center;
  line-height: 1;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

section > em {
  display: block;
  margin: 8px 0;
  text-align: center;
}

section > div {
  padding: 10px;
}

#s6 > div {
  background-color: #b298dc;
}
#s7 > div {
  background-color: #bdc696;
}

/* SECTION 1 */
/* ----------------------------------------------------- */

/* @media screen and (max-width: 1024px) {
  #s1 > div {
  }
}

@media screen and (max-width: 600px) {
  #s1 > div {
  }
} */

/* 
#s1 span {
  background-color: ;
  mix-blend-mode: ;
} */

#s1 > div > p {
  margin: 0;
}

#s1 > div {
  background-color: lightgoldenrodyellow;
  column-count: 3;
}

@media screen and (max-width: 1024px) {
  #s1 > div {
    background-color: aquamarine;
    column-count: 2;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  #s1 > div {
    background-color: aquamarine;
    column-count: 1;
    font-size: 14px;
  }
}

/* SECTION 2 */
/* ----------------------------------------------------- */
/* :root {
  --pheight: 70vh;
}

#s2 > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  height: var(--pheight);
  background: #cdeac0;
}

@media screen and (max-width: 1024px) {
  #s2 > div :nth-of-type(1) {
    height: 40px;
    background-color: #ff0000;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  #s2 > div :nth-of-type(2) {
    height: calc(var(--pheight) - 80px);
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: #b298dc;
  }
} */

#s2 > div {
  background-color: #cdeac0;
  height: 70vh;
}

#s2 > div > div:nth-of-type(1) {
  height: 40px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: #cdeac0;
}

#s2 > div > div:nth-of-type(2) {
  height: calc(70vh - 90px);
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: #cdeac0;
}

@media (max-width: 1134px) {
  #s2 > div {
    background-color: #e08383;
  }
  #s2 > div > div:nth-of-type(1) {
    height: auto;
    background-color: rgb(136, 136, 252);
  }
  #s2 > div > div:nth-of-type(2) {
    height: calc(70vh - 110px);
    background-color: rgb(255, 199, 77);
  }
}

@media (max-width: 667px) {
  #s2 > div {
    background-color: #0c0039;
  }
  #s2 > div > div:nth-of-type(2) {
    height: calc(70vh - 130px);
    background-color: rgb(136, 136, 252);
  }
}
/* SECTION 3 */
/* ----------------------------------------------------- */

#s3 > div {
  background-color: #ff5964;
  display: flex;
}

#s3 > div > div {
  width: 400px;
  background-color: white;
  margin: 10px;
  padding: 10px;
}

@media screen and (max-width: 1024px) {
  #s3 > div :nth-of-type(1) {
    background-color: blueviolet;
  }
  #s3 > div :nth-of-type(2) {
    background-color: rgb(36, 229, 110);
  }
  #s3 > div :nth-of-type(3) {
    background-color: blueviolet;
  }
  #s3 > div :nth-of-type(4) {
    background-color: rgb(36, 229, 110);
  }

  #s3 > div {
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: flex-start; */
  }
  #s3 > div > div {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 600px) {
  #s3 > div :nth-of-type(1) {
    background-color: rgb(234, 121, 72);
  }
  #s3 > div :nth-of-type(2) {
    background-color: rgb(171, 229, 36);
  }
  #s3 > div :nth-of-type(3) {
    background-color: rgb(234, 121, 72);
  }
  #s3 > div :nth-of-type(4) {
    background-color: rgb(171, 229, 36);
  }
  #s3 > div {
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: flex-start; */
  }
  #s3 > div > div {
    width: calc(100% - 20px);
  }
}

/* SECTION 4 */
/* ----------------------------------------------------- */

#s4 > div {
  background-color: #b8f3ff;
  display: flex;
  justify-content: space-between;
  justify: center;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#s4 > div > div {
  background-color: white;
  width: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  #s4 > div {
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: flex-start; */
  }

  #s4 > div > div {
    padding: 5px;
    width: calc(100% - 20px);
  }
}

/* SECTION 5 */
/* ----------------------------------------------------- */

#s5 > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  #s5 > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
  }
}

#s5 > div > span {
  background-color: #b298dc;
  padding: 10px;
  margin: 10px;
}

#box {
  background-color: #b8f3ff;
  padding: 10px;
  display: none; /* Keep "display: none" initially */
  width: 120px;
}

#box > ul {
  margin: 0;
  padding: 10px;
}

#s5 > button {
  padding: 10px;
  background-color: #bdc696;
  font-family: "FT88", monospace;
  margin: 10px;
  display: none;
}

@media screen and (max-width: 600px) {
  #s5 > button {
    padding: 10px;
    background-color: #bdc696;
    font-family: "FT88", monospace;
    margin: 10px;
    display: block;
  }
}
