/* retro-analog-styles.css */

body {
  background-color: #e1ddcf;
  font-family: "Courier New", monospace;
  color: #3c2f23;
  text-align: center;
  margin: 0;
  padding: 0;
}

.h1 {
  font-family: "VT323", monospace;
  color: #b83a30;
  text-align: center;
  margin-top: 40px;
}

.h2 {
  font-family: "VT323", monospace;
  color: #b83a30;
  text-align: center;
  margin-top: 40px;
}

.navbar {
  text-align: center;
  margin-top: 20px;
  border: 2px solid #d88c41; /* Retro orange outline */
  border-radius: 4px;
  padding: 10px; /* Add padding to the navbar */
}

.navbar a,
.button,
button,
.dropbtn {
  display: inline-block;
  font-size: 18px;
  color: #d88c41;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 10px;
  background-color: #f8f8f8;
  border: 2px solid #d88c41;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Courier New", monospace;
}

.navbar a:hover,
.button:hover,
button:hover,
.dropbtn:hover {
  background-color: #e5e5e5;
  color: #3c2f23;
}

.dropdown {
  display: inline-block;
  position: relative;
  font-family: "Courier New", monospace;
}

.dropbtn {
  font-size: 18px;
  background-color: #f8f8f8;
  color: #3c2f23;
  border: 2px solid #d88c41;
  border-radius: 4px;
  padding: 14px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  border: 2px solid #d88c41;
  border-radius: 4px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #d88c41;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #e5e5e5;
  color: #3c2f23;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button,
button {
  background-color: #f8f8f8;
  border: 2px solid #d88c41;
  border-radius: 4px;
  padding: 14px 16px;
  cursor: pointer;
}

button {
  background-color: #3c2f23;
  color: #e1ddcf;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #5e4d39;
}

#behance {
  background-color: #b83a30;
}

#behance a {
  color: #e1ddcf;
  text-decoration: none;
}

#behance:hover {
  background-color: #5e4d39;
}

p {
  color: #3c2f23;
  font-size: 18px;
  text-align: center;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
