.container {
  display: flex;
}

.left {
  flex: 10;
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
  line-height: 300px;
}

.right {
  flex: 10;
  height: 100vh;
  background-color: aliceblue;
  overflow-y: scroll;
  line-height: 300px;
}

.content {
  align-items: center;
  justify-content: center;
}
