/* CSS RESETS */
/* ----------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* ACTUAL STYLING */
/* ----------------------------------------------------- */

body {
  overflow-y: hidden;
  display: flex;
}

.left {
  width: 50%;
  height: 100vh;
  background-color: black;
  overflow-y: scroll;
  line-height: 300px;
}

.right {
  width: 50%;
  height: 100vh;
  background-color: yellow;
  overflow-y: scroll;
  line-height: 300px;
}

.content {
  align-items: center;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-height: 100%;
  /* border: solid;
  border-color: rgb(205, 20, 20); */
}
