/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Basic styling */

/* Add this style to center align the logo or text */
.logo {
  text-align: center;
}

.logo h1 {
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
}

body {
  font-family: "Courier New", monospace;
  background-color: #f7f7f7;
  color: #333;
  /* overflow: hidden; */ /* Remove this line to allow scrolling */
}

.navbar {
  background-color: #ddd;
  color: #333;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure the navbar appears above other elements */
}

.navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#mainButton {
  font-weight: bold;
  font-size: 20px;
}

.navbar-item {
  position: relative;
  margin: 0 1rem;
  display: inline-block;
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
}

.navbar-list-left {
  order: -1;
}

.navbar-list-right {
  order: 1;
}

.main-content {
  padding: 3rem;
  text-align: center;
}

/* Analog-style background */
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("scanlines-light.png") repeat, url("noise-light.png") repeat;
  z-index: -1;
  opacity: 0.1;
}

/* Section styling */

#website-title {
  font-size: 40px;
  text-align: center;
  margin: auto;
  color: #555;
}

/* --nav-ht {
} */

/* Style for the section title */
#section-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: #555;
  padding-right: 50px;
}

/* Style for the image container */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: calc(
    100vh - 200px
  ); /* Adjust to account for header and text container heights */
  overflow: hidden;
}

.centered-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 50%;
}

/* Style for the text container */
#text-container {
  padding: 2rem;
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
}
.section {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  margin: 3rem 0;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.centered-image-1 {
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  width: auto;
  margin: 10px;
}

.centered-gif {
  padding-top: 50px;
}

.vContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-image-last {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 10px;
  padding-left: 100px;
}

.image-container-z {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: calc(
    100vh - 200px
  ); /* Adjust to account for header and text container heights */
  overflow: hidden;
}
