/* retro-styles.css */
body {
  background-color: #fffbf0;
  font-family: "Courier New", monospace;
  color: #6c5b7b;
}

.retro-select,
.retro-input,
.retro-range,
.retro-input-number {
  background-color: #fff3e1;
  border: 2px solid #7ec300;
  color: #6c5b7b;
  font-family: "Courier New", monospace;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.retro-input,
.retro-input-number {
  width: 100%;
}

.retro-fieldset {
  border: 2px solid #d9ff00;
  border-radius: 6px;
  padding: 10px;
}

.retro-radio {
  margin-right: 8px;
}

.retro-button {
  background-color: #d3b8ae;
  color: #5a5a5a;
  border: none;
  padding: 8px 16px;
  font-family: "VT323", monospace;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.retro-range {
  width: 80%;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Courier+New&display=swap");
