/* styles.css */
body {
  background-color: #f5e1da;
  font-family: "VT323", monospace;
  color: #5a5a5a;
}

.retro-select,
.retro-input,
.retro-range,
.retro-input-number {
  background-color: #f5f5f5;
  border: 2px solid #d3b8ae;
  color: #5a5a5a;
  font-family: "VT323", monospace;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.retro-input,
.retro-input-number {
  width: 100%;
}

.retro-fieldset {
  border: 2px solid #d3b8ae;
  border-radius: 6px;
  padding: 10px;
}

.retro-radio {
  margin-right: 8px;
}

.retro-range {
  width: 80%;
}

.analog-slider {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.range-input {
  appearance: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: rotate(-45deg);
  background: none;
}

.gauge {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: #ccc;
  transform: rotate(45deg);
  animation: rotate 2s linear infinite;
}

.needle {
  width: 4px;
  height: 50px;
  background: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: bottom center;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.5s ease-in-out;
}

.retro-select {
  background-color: #f5f5f5;
  border: 2px solid #d3b8ae;
  color: #5a5a5a;
  font-family: "VT323", monospace;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%; /* Set the width to 100% to make it wider */
}

/* styles.css */
/* ... (other CSS rules) */

.retro-button {
  background-color: #d3b8ae;
  color: #5a5a5a;
  border: none;
  padding: 8px 16px;
  font-family: "VT323", monospace;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

/* styles.css */
/* ... (other CSS rules) */

/* Alternate style */
body.alt-style {
  background-color: #54cd04;
  color: #3f3f3f;
}

/* ... (other CSS rules) */

/* ... (other CSS rules) */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
